{% extends 'diario.base.html.twig' %} {% block body %}
<style>
    td {
        border-width: 4px;
    }

    .table>:not(caption)>*>* {
        border-bottom-width: 4px;
    }
</style>

<table border="2" class="table w-100 h-100 lh-lg" style="border-width: 4px; border-color: #768a15">
  <tr>
    <td colspan="4" class="align-middle" style="height: 100px">
      <span class="fw-bolder text-decoration-underline text-uppercase">
        orden DEL DÍA:
      </span>
    </td>
  </tr>
  <tr>
    <td

      class=" text-center justify-content-around"
      style="width: 100px"
    >
      <span class="fw-bolder text-decoration-underline text-uppercase">
          HORA
      </span>
      HORA
      HORA
      HORA
      HORA
      HORA
      HORA
      HORA
      
    </td>
    <td class="text-uppercase h-100" colspan="4">
        <span class="fw-bolder text-decoration-underline text-uppercase">
            Incidencia: 
        </span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos quibusdam aliquid quis nam ab quia dolores eaque asperiores, quidem hic veniam atque incidunt itaque illum veritatis. Tempora, reiciendis suscipit.

    </td>
  </tr>
</table>
{% endblock %}
