<table width="100%" style="border-top: 1px solid gray">
					<tr>
						<td>
							<img style="height:5em" src="img/medidas_personales_1_1.png" class="" alt="">
						</td>

						<td align="right">
							<p>INSERTAR SITIO</p>
							<p>Fecha de Emisión: INSERTAR DATO</p>
						</td>
					</tr>
				</table>
